body
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #020252;
    background: url("background.png") repeat scroll transparent;
}
p,a,h1,h2,h3,h4,h5,h6
{
    color: inherit;
    text-decoration: none;
    margin: 0px;
    text-align: center;
}
textarea
{
    font: inherit;
    overflow: hidden;
    resize: none;
    display: inline;    
}
#body_contents
{
    width: 800px;
    margin: auto;
    position: relative;
    min-height: 800px;
}
#header { height: 60px; }
#left_header { display: inline; float: left; }
#right_header { display: inline; float: right; }
#detail { position: absolute; }
#main_menu
{
    position: relative; height: 17px; border-radius: 5px 5px 0 0; background-color: #D0D0DD;
    border-bottom: 2px #A599FF solid;
}
#left_area { position: relative; float: left; width: 600px; }
#right_area
{
    position: relative; width: 196px; float: right;
    box-shadow: 1px 1px 1px;    
}
#room_feed
{
    width: 500px; background: white; width: 600px; height: 300px; overflow: auto;
    box-shadow: 2px 2px 2px;
}
#footer { bottom: 0px; position: absolute; text-align: center; width: 100%; }
#login_form { position: absolute; left: 20%; }
#logout_link
{
    border: none;
    background: none; text-decoration: underline; cursor: pointer;
}
#chatinput
{
    width: 300px;
    height: 40px;
}
#tasks_area
{
    height: 400px;
    text-align: left;
    overflow: auto;
}
#tasks_menu
{
    border-bottom: 1px #020252 solid;
    padding-top: 2px;
    padding-bottom: 2px;
}
#task_todo_container
{
    box-shadow: 2px 2px 2px;
    background-color: white;
}
#search_area
{
    height: 400px;
    text-align: left;
    
}
.heading { text-align: center; }
.main_menu_selected { background-color: #A599FF; border-radius: 5px 5px 0 0; height: 25px; padding: 0 5px 3px 5px; }
.main_menu_item { padding: 0 5px 3px 5px; }
.aconversation
{
    font-size: 12px;
    cursor: pointer;
    background-color: #E9EAEB;
    border-bottom: 2px rgb(0, 2, 34) solid
}
.amessage
{
    margin: 2px;
    font-weight: bold;
}
.areply
{
    padding-left: 10px;
    border-top: 1px rgb(0, 2, 34) solid;
}
.hButton
{
    border: none;
    background: #A599FF;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
}
.auser
{
    border-top: 1px rgb(0, 2, 34) solid;
    padding: 2px;
}
.amenuitem:hover
{
    background-color: lightblue;
}
.flyout
{
    position: absolute;
    z-index: 99;
    border: 1px gray solid;
    box-shadow: 2px 2px 2px;
}
.users_list
{
    border: 1px gray solid;
    border-radius: 1px; 
    border-width: 1px;
}

.atask
{
    background-color: #E9EAEB;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.taskheader
{
    margin: 2px;
    font-weight: bold;
}
.taskdetail
{
    display: none;
    font-size: 12px;
    border-top: rgb(50, 2, 247) 1px solid;
    border-bottom: rgb(50, 2, 247) 1px solid;
}
.alignleft
{
    text-align: left;
}
.tasksection
{
    margin-top: 3px;
    margin-bottom: 3px;
}
.tasksectionheading
{
    text-decoration: underline;
}
.nothing
{
    background-color: #E9EAEB;
    text-align: center;
}