{% extends "base.html" %}
{% block detail %}
<div id="create_room">
  <form method="post" id="create_room_form" action="/rooms/create"
        style="font: inherit;">
    {% csrf_token %}

    <table border="0px" onload="document.getElementById('projectid').focus();">
      {% if error %}
      <tr colspan="2"><span style="color:red;">{{ error }}</span></tr>
      {% endif %}
      <tr>
        <td><label for="projectid">Project Code(unique 4 letters):</label></td>
        <td>{{form.projectid}}</td>
        <td><span style="color: red;" id="projectid_error"></span></td>
      </tr>
      <tr>
        <td><label for="description">Enter a short description here:</label> </td>
        <td><span style="color: red;" id="description_error"></span></td>
      </tr>
      <tr>
        <td colspan="2"><textarea id="description" name="description" rows="4" cols="50" style="font: inherit; "></textarea></td>
      </tr>
      <tr>
        <td colspan="2"> <input type="submit" value="Create" class="hButton"
          style="width: 70px; height: 30px; "/> or <a href="/rooms"
          style="text-decoration: underline;">
          go back </a> to the list of eligible rooms.
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock%}
