{% extends "base.html" %}
{% block headstatic %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
{% endblock %}
{% block detail %}
<div id="detail">
  <div id="heading">
    {% if room %}
    <h3>{{room}}</h3>
    {% endif %}
  </div>
      <div id="main_menu">
        <span>
          <h4 class="main_menu_item main_menu_selected"
              style="display: inline; cursor: pointer; padding-right: 0;"
              onclick="gotoRoom()"
              id="room_link">
            <a>Room</a>
          </h4>
          <h4 class="main_menu_item"
              style="display: inline; cursor: pointer; "
              onclick="gotoTasksView()"
              id="taskstodo_link">
            <a>Tasks/Todo</a>
          </h4>
        </span>
      </div> <!-- main_menu -->
      <div id="left_area">
        {% block left_area %}
        {% endblock %}
      </div> <!-- left_area -->
    </div> <!-- detail -->
{% endblock %}
