{% extends "index_base.html" %}

{% block right_area %}
<div id="right_area">
  <h5>Members online</h5>
</div>
<br/>
<br/>
<div id="right_area">
  <h5>Others</h5>
</div>
{% endblock %}

{% block left_area %}
<div id="chatroom">
  <div id="room_feed">
  </div>
  <form action="javascript:HAYATE.app.chat.sendMessage(this);">
  <table border="0px">
    <tr>
      <td><textarea type="text" id="chatinput" autofocus="autofocus" dir="ltr"></textarea></td>
      <td>
        <input class="hButton" type="submit" id="have_your_say"
               onclick="HAYATE.app.chat.haveYourSay()"
               value="Have your Say"
               href="#"
               style="width: 100px;
                      height: 40px;"
               />
      </td>
      <td>
        <input class="hButton" type="submit" id="start_new"
               onclick="HAYATE.app.chat.startNewConversation()"
               value="Start New"
               href="#"
               style="width: 100px;
                      height: 40px;"
               />
      </td>      
    </tr>
  </table>
  </form>
</div>
<div id="taskstodo" style="display: none;">
  <h3> Under construction! come back later </h3>
</div>
{% endblock %}
