{% extends "base.html" %}
{% block bodystaticfoot %}
<script>

  <!-- openChannel = function() -->
  <!-- { -->
  <!-- var token = '{{token}}'; -->
  <!-- var channel = new goog.appengine.Channel(token); -->
  <!-- var socket = channel.open(); -->
  <!-- connected = true; -->
  <!-- socket.onopen = HAYATE.app.chat.onOpen; -->
  <!-- socket.onmessage = HAYATE.app.chat.onMessage; -->
  <!-- socket.onerror = HAYATE.app.chat.onError; -->
  <!-- socket.onclose = HAYATE.app.chat.onClose; -->
  <!-- } -->

  setTimeout(HAYATE.app.chat.initialize, 100);
  
</script>
{% endblock %}
{% block detail %}
<div id="detail">
  <div id="heading">
    {% if room %}
    <h3>You are in room: {{room}}</h3>
    <a style="text-decoration: underline;cursor: pointer;" href="/rooms">Rooms</a>
    {% endif %}
    {% if admin %}
    <a style="text-decoration: underline;cursor: pointer;" onclick="HAYATE.app.addMember(this)">Add a member</a>
    {% endif %}
  </div>
  <br/>
      <div id="main_menu">
        <span>
          <h4 class="main_menu_item main_menu_selected"
              style="display: inline; cursor: pointer; padding-right: 0;"
              onclick="HAYATE.app.gotoRoom()"
              id="room_link">
            <a>Room</a>
          </h4>
          <h4 class="main_menu_item"
              style="display: inline; cursor: pointer; "
              onclick="HAYATE.app.gotoTasksView()"
              id="taskstodo_link">
            <a>Tasks/Todo</a>
          </h4>
        </span>
      </div> <!-- main_menu -->
      <div id="left_area">
        {% block left_area %}
        {% endblock %}
      </div> <!-- left_area -->
        {% block right_area %}
        {% endblock %}
    </div> <!-- detail -->
{% endblock %}
