{% extends "base.html" %}
{% block detail %}
<div id="login_form">
  <form method="post" action="/login">
    {% csrf_token %}

    <table border="0px">
      {% if error %}
      <tr colspan="2"><span style="color:red;">{{ error }}</span></tr>
      {% endif %}

      <tr>
        <td>Email:</td>
        <td><input id="email" type="email" name="email" {% if email %}value="{{ email }}"{% endif %}/></td>    
      </tr>
      <tr>
        <td>Password:</td>
        <td><input id="password" type="password" name="password" ></td>        
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Login" /></td>
      </tr>
      <tr>
        <td colspan="2">or <a href="/signup" style="text-decoration: underline;">Signup</a> for a new account!
          It is easy and free!</td>
      </tr>  
    </table>
  </form>
</div>
{% endblock %}
