{% extends "base.html" %}
{% block detail %}
<div id="signup_form">
  <form method="post"
        onsubmit="return HAYATE.app.validateSignupData();" action="/signup">
    {% csrf_token %}

    <table border="0px">
      {% if error %}
      <tr colspan="2"><span style="color:red;">{{ error }}</span></tr>
      {% endif %}
      <tr>
        <td><label for="email">Email:</label></td>
        <td>{{form.email}}</td>
        <td><span style="color: red;" id="email_error"></span></td>
      </tr>
      <tr>
        <td><label for="password">Password:</label> </td>
        <td>{{form.password}}</td>
        <td><span style="color: red;" id="password_error"></span></td>
      </tr>
      <tr>
        <td><label for="password1">Password(re-enter):</label></td>
        <td>{{form.password1}}</td>
        <td><span style="color: red;" id="password1_error"></span></td>
      </tr>
      <tr>
        <td><label for="username">Name:</label></td>
        <td>{{form.username}}</td>
        <td><span style="color: red;" id="username_error"></span></td>
      </tr>
      <tr>
        <td><label for="nickname">Nickname:</label></td>
        <td>{{form.nickname}}</td>
        <td><span style="color: red;" id="nickname_error"></span></td>
      </tr>      
    </table>
          <input type="submit" class="hButton" value="Signup" />
          <span>or <a href="/login"> Login </a></span>
  </form>
</div>
{% endblock %}
